 /* h2{
    color: blue;
}
#vlad{
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: blue;
}
.photo{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/03/23/39/ok-2282499_960_720.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-color:aqua;
    height: 400px;
    width: 400px;
    margin-left: 370px;
} */
/* .spisok{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    height: 20px;
    width: 20px;
    border: 1px solid wheat; */

/* }
.one{flex-grow: 1;}
.two{flex-grow: 2;}
.three{flex-grow: 3;}
.four{flex-grow: 4;}
.five{flex-grow: 5;}  */

 .pp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    /* background-color: blue; */
} 
.container7{
    display: flex;
    justify-content: row;
}
.about{
    margin: 0px 645px;
    
}
.container121{
display: flex;
justify-content: center;
}
.foto1{
    margin: 0 100px;
}
.header{
    display: flex;
    justify-content: center;
    
}
.vlad{
display: flex;
justify-content: center;
margin: 0px 100px;
}
.section1{
    display: flex;
    justify-content: center;
}
.chay{
    margin:0px 150px;
    justify-content: space-around;
}
.section2{
    display: flex;
    justify-content: center;
}
.chay1{
    margin:0px 150px;
}
.section3{
    display: flex;
    justify-content: space-around;
}
.photo2{
    margin: 0px 20px;
}
.section4{
    display: flex;
    justify-content: space-around;
    border: 1px solid wheat
}
.text{
    color: green;
    margin: 0px 10px;
}
.end{
    display: flex;
    justify-content: center;
    color: grey;
}
.footer{
   display: flex;
   justify-content: space-around;
   color: pink;

}
.space{
    margin: 0px 100px;
    color: #000;
}
.button{
    display: flex;
    justify-content: center;
    margin: 0px 600px;
    color: black;
}
 .vlad21{
display: flex;
justify-content: center;
} 
.container{
    height: 0px;
    width: 0px;
    display: flex;
    justify-content: space-between;
    /* background-color:#2222; */
}
.menu{
    display: flex;
    height: 100px;
    width: 1000px;
    margin: 0px 110px 600px 800px;
   
}
.navs{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;

}
}
/* ul.css-menu-1 {
    list-style: none;
    margin: 0px 10px;
    }
    
    ul.css-menu-1 li {
    display: flex;

    }
    
    ul.css-menu-1 li a {
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    background: #5c6cb7;
    font-weight: bold;
    color: #ffaa00;
    padding: 6px 10px 6px 10px
    }
    
    ul.css-menu-1 li a:hover {
    padding: 6px 10px 6px 10px;
    font-weight: bold;
    background: #364d95;
    color: #ff9900
    }
    
    ul.css-menu-1 li a.selected {
    background: #364e95
    
    } */